<ul>
  <li> <a href="/statements/deposit_new">Deposit Money</a> </li>
  <li> <a href="/statements/withdrawal_new">Withdrawal Money</a> </li>
  <li> <a href="/statements">Bank Statement</a> </li>
</ul>
