<% if @statements.any? %>
  <% @statements.each do |statement| %>
    <ul>
    <li>Created At: <%= statement.created_at %></li>
    <li>Credit: <%= statement.deposit %></li>
    <li>Debit: <%= statement.withdrawal %></li>
    <li>Balance: <%= statement.balance %></li>
  </ul>
  <% end %>
<% else %>
  <h1>No Bank Statements yet</h1>
<% end %>
